<!-- header -->
<div header></div>


	<div class="jumbotron">

	    <div class="jumbotron">

	    	<div banner-sidebar></div>    
	        
	        <div class="col-md-10">

	        	<div class="form-group">			    	
			    	<input type="text" class="form-control" placeholder="배너명을 검색하세요." 
			    	 	   ng-enter="search()" ng-model="keyword">
			  	</div>

	            <table st-table="rowCollection" class="table table-hover">
	                <thead>
	                <tr>
	                	<th>#</th>
	                    <th>배너명</th>
	                    <th>배너 설명</th>
	                    <th>배너 시작일</th>
	                    <th>배너 종료일</th>
	                    <th>사용 여부</th>	                    
	                    <th>삭제</th>	                    
	                </tr>
	                </thead>
	                <tbody>
	                <tr dir-paginate="content in contents | itemsPerPage: pageSize" total-items="totalCount" current-page="pagination.current">
	                	<td>{{(totalCount - (pageSize * (pagination.current-1))) - $index}}</td>
	                    <td><a href="banner/view/{{content.id}}">{{content.name}}</a></td>
	                    <td><a href="banner/view/{{content.id}}">{{content.description}}</a></td>
	                    <td>{{content.start | date:'yyyy-MM-dd  HH:mm'}}</td>	                 
	                    <td>{{content.end | date:'yyyy-MM-dd  HH:mm'}}</td>	                 
	                    <td>
	                    	<div toggle-switch 
	                        	 class="switch-primary" 
	                        	 ng-model="content.display" 
	                        	 on-change="display($index, content.id, !content.display)"
	                        	 knob-label="" on-label="on" off-label="off">
	                       	</div>
	                    </td>   
	                    <td>
	                        <button class="btn btn-danger fa fa-trash-o"                                           
	                                type="button"
	                                ng-click="confirmDelete($index, content.id, content.file)">
	                        </button>
	                    </td>
	                </tr>
	                </tbody>
	            </table>

	            <div style="text-align:center">
	                <dir-pagination-controls boundary-links="true" 
	                                         on-page-change="pageChanged(newPageNumber)" 
	                                         template-url="components/pagination/dirPagination.tpl.html">                    
	                </dir-pagination-controls>
	            </div>          

	        </div>    
		</div>

	</div>


<!-- footer -->
<div footer></div>    