<!-- header -->
<div header></div>


	<div class="jumbotron">

	    <div class="jumbotron">

	    	<div event-sidebar></div>    
	        
	        <div class="col-md-10">
	            
	        	<form>

					<div class="form-group" ng-init="getCategory('eventType', 'items_eventType', 'order ASC', true)">
						<div>
					  		<label for="name"><span class="text-danger">*</span>유형:</label>
				    	</div>
					  	<div class="row">
				    		<div class="col-sm-10">													    		
					    		<label ng-repeat="item in items_eventType" class="checkbox-inline" style="min-width:200px;">
									<input type="checkbox" 
										   ng-click="changeCheckbox('type', item.name)" 
										   ng-checked="model.type.includes(item.name)">{{item.name}}
									</input>	
								</label>			
					    	</div>				
					    </div>		    						   
				  	</div>

	        		<div class="form-group">
				    	<label for="name"><span class="text-danger">*</span>행사명:</label>
				    	<input type="text" class="form-control" ng-model="model.title">
				  	</div>

				  	<div class="form-group" ng-init="getCategory('province', 'items_province', 'order ASC', false)">
				  		<div>
				    		<label for="name"><span class="text-danger">*</span>지역장소:</label>				    	
				    	</div>
				    	<div class="row">
					    	<div class="col-xs-3">
					    		<autocomplete no-auto-sort = "true"
					    				  click-activation = "true"
					    				  attr-class="form-group"
					    				  attr-input-class="form-control" 
					    				  ng-model="model.place.province" 
					    				  attr-placeholder="지역 ..."
					    				  data="items_province" 
					    				  on-type="updateItems">
								</autocomplete>
							</div>
							<div class="col-xs-9">
								<input type="text" class="form-control" ng-model="model.place.address" placeholder="세부 주소 ...">
							</div>
						</div>

				  	</div>

				  	<div>
				    	<label for="name"><span class="text-danger">*</span>일자/시간:</label>
				    	<br/>
		                <div style="width:29%;float:left;margin-right:20px;">
				    		<div class="dropdown form-group">
			                    <a class="dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown" data-target=""
			                       href="#">
			                        <div class="input-group date">
			                            <input type="text" class="form-control" 
			                            	   data-ng-model="date">
			                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
			                        </div>
			                    </a>
			                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
			                        <datetimepicker data-ng-model="date"
			                                        data-datetimepicker-config="{ 
			                                        	dropdownSelector: '#dropdownStart',
			                                        	minView: 'day'
			                                        }">
									</datetimepicker>
			                    </ul>
			                </div>
				    	</div>	
				    	<div style="margin-top: -33px;">					    	
			                <div uib-timepicker 
		  						 ng-model="time"
		  						 hour-step="hstep" minute-step="mstep" 
		  						 show-meridian="false">
							</div>
						</div>
				  	</div>

				  	<div class="form-group" ng-if="model">
				    	<label for="name"><span class="text-danger">*</span>비용:</label>
				    	<div>		
							<label class="radio-inline">
								<input type="radio" name="price" 
									   ng-model="model.price" 
									   ng-value="false" 
									   ng-checked="getModelVal('price') == 'false'" />무료
							</label>
							<label class="radio-inline">
								<input type="radio" name="price" 
									   ng-model="model.price" 
									   ng-value="true"
									   ng-checked="getModelVal('price') == 'true'" />유료
							</label>
						</div>
				  	</div>

				  	<div class="form-group" ng-init="getCategory('field', 'items_field', 'order ASC', true)">
					    <label for="name">분야:</label>				    		
					    <tags-input ng-model="inserted_tag" display-property="name" placeholder="Add a tag.." 
				        			min-length="1" replace-spaces-with-dashes="false">
					      	<auto-complete source="loadTags($query, 'items_field')"
					                       min-length="0"
					                       load-on-focus="true"
					                       load-on-empty="true"
					                       max-results-to-show="32"
					                       template="loadTags-template">
					        </auto-complete>
					    </tags-input>					        	
				  	</div>				  	
				  	
				  	<div class="form-group" ng-init="getCategory('topic', 'items_topic', 'order ASC', true);">
					  	<label for="name">주제:</label>
					  	<div>
				    		<label ng-repeat="item in items_topic" class="checkbox-inline" style="min-width:200px;">
				    			<input type="checkbox" 
				    				   ng-click="changeCheckbox('topic', item.name)"
				    				   ng-checked="model.topic.includes(item.name)">{{item.name}}
				    			</input>
							</label>					
				    	</div>
				  	</div>


				  	<div class="form-group">
				    	<label for="name"><span class="text-danger">*</span>링크:</label>
				    	<input type="text" class="form-control" ng-model="model.link">
				  	</div>
				  	
				  	<div class="form-group">
				    	<label for="name"><span class="text-danger">*</span>표시 여부:</label>
				    	<div>
					  		<div toggle-switch 
		                    	 class="switch-primary" 
		                    	 ng-model="model.display" 
		                    	 on-change="changeSwitch( 'display' )"
		                    	 knob-label="" on-label="on" off-label="off">
		                    </div>
	                    </div>
	                </div>
				  	
				  	<div style="height:30px;"></div>

				  	<div style="margin-bottom:50px;">
				    	<div style="float:left;">
				    		<button type="button" class="btn btn-default" 
				  			ng-disabled="model.type == '' || model.title == '' || model.place.province == '' || model.place.address == '' || model.link == ''"
				  			ng-click="save()">저장</button>	
						</div>
						<div style="float:right;">
							<button type="button" class="btn btn-default" 
				  			ng-click="cancel()">취소</button>
						</div>
					</div>
					
				</form>

	        </div>    
		</div>

	</div>

<!-- footer -->
<div footer></div>    