<!-- header -->
<div header></div>


	<div class="jumbotron">

	    <div class="jumbotron">

	    	<div person-sidebar></div>    
	        
	        <div class="col-md-10">

	        	<div class="form-group">			    	
			    	<input type="text" class="form-control" placeholder="인물명을 검색하세요." 
			    	 	   ng-enter="search()" ng-model="keyword">
			  	</div>
	        
	            <table st-table="rowCollection" class="table table-hover">
	                <thead>
	                <tr>
	                	<th>#</th>
	                    <th>작성자</th>
	                    <th>아이디</th>
	                    <th>유형</th>
	                    <th>인물명</th>	                    
	                    <th>소속</th>	                    
	                    <!-- <th>인기 검색어 표시</th>	  	         -->            	                    
	                    <th>삭제</th>	                    
	                </tr>
	                </thead>
	                <tbody>
	                <tr dir-paginate="content in contents | itemsPerPage: pageSize" total-items="totalCount" current-page="pagination.current">
	                	<td>{{(totalCount - (pageSize * (pagination.current-1))) - $index}}</td>
	                    <td>{{content.userId}}</td>
	                	<td>{{content.id}}</td>
	                    <td>	
	                    	<a href="person/view/{{content.id}}?page={{pagination.current}}">
	                    		<spna ng-repeat="item in content.type" style="padding-right:10px;">{{item}}</spna>
	                    	</a>
	                    </td>
	                    <td><a href="person/view/{{content.id}}?page={{pagination.current}}">{{content.name}}</a></td>
	                    <td>
	                    	<div ng-repeat="companies in content.employee">
	                    		<div ng-if="companies.current">	                    			
	                    			<a href="company/view/all/{{companies.company.id}}">{{companies.company.name}}</a> / {{companies.position}}
	                    		</div>
	                    	</div>
	                    </td>
	                    <!-- <td>
	                    	<div toggle-switch 
	                        	 class="switch-primary" 
	                        	 ng-model="content.displayHot" 
	                        	 on-change="display($index, content.id, !content.displayHot)"
	                        	 knob-label="" on-label="on" off-label="off">
	                       	</div>
	                    </td>    -->
	                    <td>
	                        <button class="btn btn-danger fa fa-trash-o"                                           
	                                type="button"
	                                ng-click="confirmDelete($index, content.id, content.thumbnail)">
	                        </button>
	                    </td>
	                </tr>
	                </tbody>
	            </table>

	            <div style="text-align:center">
	                <dir-pagination-controls boundary-links="true" 
	                                         on-page-change="pageChanged(newPageNumber)" 
	                                         template-url="components/pagination/dirPagination.tpl.html">                    
	                </dir-pagination-controls>
	            </div>          

	        </div>    
		</div>

	</div>


<!-- footer -->
<div footer></div>    