.img-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #e4e5e7;
  margin-bottom: 20px;
}

.profile-top {
  margin-bottom: 20px;
}

.company-name {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.company-list {
  list-style:none;
  padding: 10px 15px;
}

.company-list  > li {
  padding: 5px;
}

.company-title {
  width: 100px;
  position: relative;
  display: block;
}

.company-content {
  position: relative;
  display: block;
}
