<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="color-line"></div>
    <div class="modal-header">
      <h4 class="modal-title">무료 뉴스레터 구독 신청 완료</h4>
      <small class="font-bold">StartUp Weekly</small>
    </div>
    <div class="modal-body">
      <p>무료 뉴스레터 구독 신청이 완료 되었습니다</p>
      <p>국내외 IT/스타업 주요 소식 및 일정을 정리하여 매주 월요일 오전 5시에 이메일로 발송합니다.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="cancel()">닫기</button>
    </div>
  </div>

</div>
